targets:
  - logname: test.log # The log filename as a string. Accept absolute or relative path accessible by the process
    ip: 127.0.0.1 # Ip address to ping as a string. It must be a valid ip address (no hostname resolution could be done)